body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.map-canvas {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
.order-compiler {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;

    z-index: 100;
    background-color: #245269;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.compiler-header{
    height: 40px;
    width: 100%;
    cursor:pointer;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.compiler-body{
    padding: 10px !important;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.compiler-body input{
    width: 80%;
    float: left;
    margin-top: 5px;
}
.icon{
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left: 10px;
    cursor: pointer;

}
.icon-small{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.row {
    margin: 0 !important;
}
.btn {
    color: #245269 !important;
}
.btn:hover{
    color: #fff !important;
}
.orders-container{
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #245269;
    z-index: 150;
    color:#fff;
    width: 100vw;
}
.order {
    width: 100vw;
    overflow: hidden;
    padding: 5px;
    border-top: 2px solid #ccc;
}
.order-header{
    width: 5000px;
}
.orders-list-container{
    padding: 0px !important;
}
.btn-sm{
    padding: 2px 5px !important;
}
li.order div.container-fluid {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 2px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    z-index: 150;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background-color: #245269;
    cursor: pointer;
    color: #fff;
}
.shadowed {
    -webkit-box-shadow: 0px -2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px -2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px -2px 2px 0px rgba(50, 50, 50, 0.5);
}
.show-orders{
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #245269;
    z-index: 100;
    color:#fff;
    width: 100vw;
}
.well {
    margin-top: 10px !important;
    background-color: #269abc !important;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.5) !important;
    -moz-box-shadow:    inset 0px 0px 2px 0px rgba(50, 50, 50, 0.5) !important;
    box-shadow:         inset 0px 0px 2px 0px rgba(50, 50, 50, 0.5) !important;
}

.compiler-body-frame {
    overflow: hidden;
}

.slide-down.ng-enter, .slide-down.ng-leave, .slide-up.ng-enter, .slide-up.ng-leave{
    -moz-transition: 0.2s ease-out all;
    -o-transition: 0.2s ease-out all;
    -webkit-transition: 0.2s ease-out all;
    transition: all 300ms cubic-bezier(0.455, 0.430, 0.460, 1.020);

}
.slide-down.ng-enter {
    opacity: 0;
    margin-top: -200px;
}/* starting animations for enter*/
.slide-down.ng-enter.ng-enter-active {
    opacity: 1;
    margin-top: 0px;
}/* terminal animations for enter*/
.slide-down.ng-leave {
    opacity: 1;
    margin-top: 0px;
}/* starting animations for leave*/
.slide-down.ng-leave.ng-leave-active {
    opacity: 0;
    margin-top: -200px;
}/* terminal animations for leave*/
.slide-up.ng-enter {
    opacity: 0;
    margin-top: 100vh;
}/* starting animations for enter*/
.slide-up.ng-enter.ng-enter-active {
    opacity: 1;
    margin-top: 0px;
}/* terminal animations for enter*/
.slide-up.ng-leave {
    opacity: 1;
    margin-top: 0px;
}/* starting animations for leave*/
.slide-up.ng-leave.ng-leave-active {
    opacity: 0;
    margin-top: 100vh;
}/* terminal animations for leave*/


