<div class="orders-container container-fluid">
    <ul class="orders-list-container" vertical-swipe>
        <li class="order well well-sm" ng-repeat="order in orders">
            <div class=" container-fluid">
                <span class="order-header">Заказ #{{ $index + 1 }}</span>
            </div>
            <div class="container-fluid">от: {{ order.start_address }}</div>
            <div class="container-fluid">до: {{ order.end_address }}</div>
            <div class="container-fluid">
                <div class="order-price col-xs-6">цена: {{ order.price }}грн.</div>
                <div class="order-distance col-xs-6">расстояние: {{ order.distance }}</div>
            </div>
            <div class="container-fluid">
                <div class="col-xs-6" ng-bind-html="renderHtml('Статус: ' + order.statusText)"></div>
                <div class="col-xs-6"><button type="button" class="btn btn-sm pull-right" ng-click="updateOrder(order)" ng-disabled="updateInProgress">обновить</button> </div>
            </div>
            <div class="container-fluid" ng-if="order.driver">
                <div class="col-xs-6">водитель: {{ order.driver }}</div>
                <div class="col-xs-6"><button type="button" class="btn btn-sm pull-right" ng-click="showDriver(order.driver)">показать</button> </div>
            </div>
            <div class="container-fluid" ng-if="order.driver">
                <div class="" ng-if="order.basics.status < 2">Машина будет в: {{ order.basics.arrivalTime | date: 'H:m' }}</div>
                <div class="" ng-if="order.basics.status > 2">Время прибытия: {{ order.basics.arrivalTime | date: 'H:m' }}</div>
                <div class="" ng-if="order.basics.status == 2">Машина прибыла в: {{ order.basics.arrivalTime | date: 'H:m'}}</div>
            </div>
        </li>
    </ul>
    <div click-animation class="footer container-fluid animation shadow-top" ng-click="visibility.container = false; visibility.compiler = false">вернуться на карту</div>
</div>
