<div class="container-fluid" ng-if="route.start_address">
    <div class="accepted-header" ng-click="contentVisibility = !contentVisibility">
        {{route.start_address}} ({{route.price | currency : 'грн ' : 0}})
        <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" ng-hide="contentVisibility"></span>
        <span class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true" ng-show="contentVisibility"></span>
    </div>
    <div class="accepted-content" ng-show="contentVisibility">
        <span class="route-point">До: {{route.end_address}} ({{route.distance}})</span><br />
        <button class="route-btn" type="button" ng-click="completeRoute()">Выполнен</button>
    </div>
</div>
<div class="container-fluid" ng-if="inTheQueue && !route.start_address">
    <div class="accepted-header" ng-click="contentVisibility = !contentVisibility">
        В очереди ID:{{ drvId }}
        <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" ng-hide="contentVisibility"></span>
        <span class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true" ng-show="contentVisibility"></span>
    </div>
    <div class="accepted-content" ng-show="contentVisibility">
        <button class="route-btn" type="button" ng-click="toggleQueue()">Покинуть очередь</button>
    </div>
</div>
<div class="container-fluid" ng-if="!inTheQueue && !route.start_address">
    <div class="accepted-header" ng-click="contentVisibility = !contentVisibility">
        Перерыв
        <span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" ng-hide="contentVisibility"></span>
        <span class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true" ng-show="contentVisibility"></span>
    </div>
    <div class="accepted-content" ng-show="contentVisibility">
        <button class="route-btn" type="button" ng-click="toggleQueue()">Встать в очередь</button>
    </div>
</div>