<a href="/routes"><div class="main-header container-fluid text-center top-layer main-header-shadowed" id="mainHeader">
    Все маршруты
</div></a>
<div google-map methods="methods" markers="markers" route="currentRoute" class="container-fluid"></div>
<div current-route route="currentRoute" methods="methods" in-the-queue ="inTheQueue" class="top-layer current-route text-center"></div>
<div new-routes methods="methods" orders="orders" ng-if="orders.length" on-the-route="onTheRoute" class="top-layer new-routes"></div>