<a href="/routes">
     <div mainHeader class="main-header container-fluid text-center top-layer main-header-shadowed" id="mainHeader">
          Все маршруты
     </div>
</a>
<div google-map methods="methods" orders="driver.orders" route="driver.currentRoute" class="container-fluid map-canvas"></div>
<div current-route
     route="driver.currentRoute"
     methods="methods"
     in-the-queue ="driver.inTheQueue"
     drv-id="driver.id"
     class="top-layer current-route text-center"></div>
<div new-routes methods="methods" orders="driver.orders" ng-if="driver.orders.length" on-the-route="driver.onTheRoute" class="top-layer new-routes slide-up"></div>